@font-face {
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

pre {
    font-family: 'JetBrainsMono';
    font-variant-ligatures: common-ligatures;
}

.container.perfect-width {
    max-width: 768px;
    width: 98%;
}

.perfect-width {
    max-width: 384px;
    width: 85%;
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3.5em);
}

.nav-link, .nav-sign-out {
    transition: color ease-in-out 150ms;
}

.nav-sign-out:hover {
    color: #dc3545 !important;
}

.react-router-appear {
    opacity: 0;
    transition: opacity ease-in-out 300ms;
}

.react-router-appear-done {
    opacity: 1;
    transition: opacity ease-in-out 300ms;
}

img.header {
    width: 98vw;
    max-width: 128px;
}

.switch-nav-item, .switch-nav-item * {
    cursor: pointer !important;
    color: #fff;
}

.fullpage.warning {
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullpage.warning * {
    max-width: 768px;
}