<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geolosys Configurator</title>

    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/Libraries/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/Libraries/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/base.css">

    <script src="/Libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/configs.js"></script>
</head>

<body class="fade">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <span>
                    <img width="24" src="/assets/img/logo.png">&nbsp; Configurator
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <span>
                                <i class="far fa-plus-square"></i>&nbsp; Create
                            </span>
                        </a>
                    </li>
                    <% if(user) {%>
                    <li class="nav-item">
                        <a href="/configs" class="nav-link active">
                            <span>
                                <b>{ }</b>&nbsp; Your Configs
                            </span>
                        </a>
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <% if(user) {%>
                        <a href="/logout" class="nav-link">
                            <span>
                                <i class="fas fa-sign-out-alt"></i>&nbsp; Log Out
                            </span>
                        </a>
                        <% } else { %>
                        <a href="/login" class="nav-link">
                            <span>
                                <i class="fas fa-sign-in-alt"></i>&nbsp; Log In
                            </span>
                        </a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center d-block">
        <img class="header" src="/assets/img/logo.png">
        <h4>Your Geolosys Configs</h4>
    </div>

    <div class="container">
        <table class="table m-auto" style="width: 90vw; max-width: 512px;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Config</th>
                </tr>
            </thead>
            <tbody id="config-body">
            </tbody>
        </table>
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <h6 class="text-center w-100">
            Made with 💙 by
            <a href="https://oitsjustjose.com/">oitsjustjose</a>
        </h6>
        <div class="text-center w-100">
            Source Code Hosted on
            <a href="https://github.com/oitsjustjose/geolosys-config-generator" target="_blank">GitHub</a>
        </div>
    </nav>
</body>

</html>