<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geolosys Configurator</title>

    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/Libraries/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/Libraries/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/base.css">

    <script src="/Libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/assets/js/modules/util.module.js"></script>
    <script type="module" src="/assets/js/modules/parser/ore.module.js"></script>
    <script type="module" src="/assets/js/modules/parser/stone.module.js"></script>
    <script type="module" src="/assets/js/modules/events.module.js"></script>
    <script type="module" src="/assets/js/modules/renderer/components.module.js"></script>
    <script type="module" src="/assets/js/modules/renderer/ore.module.js"></script>
    <script type="module" src="/assets/js/modules/renderer/stone.module.js"></script>
    <script type="module" src="/assets/js/modules/init.module.js"></script>
</head>

<body class="fade">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <span>
                    <img width="24" src="/assets/img/logo.png">&nbsp; Configurator
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <span>
                                <i class="far fa-plus-square"></i>&nbsp; Create
                            </span>
                        </a>
                    </li>
                    <% if(user) {%>
                    <li class="nav-item">
                        <a href="/configs" class="nav-link">
                            <span>
                                <b>{ }</b>&nbsp; Your Configs
                            </span>
                        </a>
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <% if(user) {%>
                        <a href="/logout" class="nav-link">
                            <span>
                                <i class="fas fa-sign-out-alt"></i>&nbsp; Log Out
                            </span>
                        </a>
                        <% } else { %>
                        <a href="/login" class="nav-link">
                            <span>
                                <i class="fas fa-sign-out-alt"></i>&nbsp; Log In
                            </span>
                        </a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <div class="form-check form-switch align-bottom mt-2">
                            <input class="form-check-input" type="checkbox" id="switch-112-mode">
                            <label class="form-check-label text-white" for="switch-112-mode">Using MC 1.14+</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center d-block">
        <img class="header" src="/assets/img/logo.png">
        <h4>Geolosys Deposit Configurator</h4>
    </div>

    <div class="container">
        <h4>Ores</h4>

        <div class="accordion mb-4" id="oreconfig">
        </div>

        <h4>Stones</h4>


        <div class="accordion mb-4" id="stoneconfig">
        </div>
    </div>

    <button class="btn btn-primary m-auto mb-3 d-block" id="generate-btn">
        Generate
    </button>

    <h5 class="text-center">
        Made with 💙 by
        <a href="https://oitsjustjose.com/">oitsjustjose</a>
    </h5>
    <h6 class="text-center">
        Source Code Hosted on
        <a href="https://github.com/oitsjustjose/geolosys-config-generator" target="_blank">GitHub</a>
    </h6>


    <div class="modal fade" tabindex="-1" id="notification">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        new bootstrap.Modal(document.getElementById('notification'));
    </script>
</body>

</html>